<div class="container">
    <div class="contenedor">
        <div class="contenedor_formulario">
            <h1 class="is-size-1">Subir archivos a Cloud Storage</h1>
            <p class="download" *ngIf="finalizado">URL de descarga: <a *ngIf="flagUrl" href="{{ URLPublica }}" target="_blank">Descargar {{ URLPublica }}</a>
            </p>
            <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                <div class="file has-name is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                        
                        
                    </label>
                </div>
                <hr>
                <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success"
                    value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
                <button class="btn btn-primary btn-block"
                    [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}"
                    [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
            </form>
        </div>
    </div>
</div>
