<div id="footer">
    <div class="container mt-4 mb-4 clearfix">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3 divider d-none d-sm-block d-md-block">
          <h4>INFORMATION</h4>
          <ul>
            <li>
              <a >Home</a>
            </li>
            <li>
              <a >
                How it works
              </a>
            </li>
            <li>
              <a>
                Products
              </a>
            </li>
            <li>
              <a >
              Avolovers Community
              </a>
            </li>
            <li>
              <a >
              Contact
              </a>
            </li>
          </ul>
        </div>
      <div class="col-12 col-sm-6 col-md-3 divider">
        <h4>LEGAL</h4>
        <ul>
          <li>
            <a >
             Privacy
            </a>
          </li>
          <li>
            <a>
             Terms and conditions
            </a>
          </li>
          </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-2 logo-footer mt-5 d-none d-sm-block d-md-block">
        
      </div>
      <div class="col-12 col-sm-6 col-md-4 followus">
        
        <ul class="sm-icons">
          <li>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </li>
        </ul>
        
      </div>
    </div>
    </div>
    <hr>
    
      <div class="col-12 text-center">
        <small>Calbox Avocado Farms 2020</small>
      </div>
    
</div>
