<div class="container">
    <form [formGroup]='forma' (ngSubmit)="login()"> 
        <div class="form-group">
          <div>
            <label >Email</label>
            <input class="form-control" type="email" formControlName="username"/>
          </div>
          <span *ngIf="getEmailInvalid()">
            <!-- <ion-icon name="alert-circle"></ion-icon> -->
            Please enter your username
          </span>
        </div>
    
        <div class="form-group">
          <div>
            <label>Password</label>
            <input class="form-control" type="password" formControlName="pwd"/>
          </div>
          <span *ngIf="getPwdInvalid()">
            <!-- <ion-icon name="alert-circle"></ion-icon> -->
            Please enter your password
          </span>
        </div>
    
        <div class="ion-margin-bottom ion-margin-top">
          <button class="btn btn-primary btn-block" type="submit" >
            Log in
          </button>
        </div>
      </form>
      <button (click)="register()" class="btn btn-primary btn-block mt-2">
        Register
      </button>
</div>
